* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #ceefef;
    overflow: hidden;
}
.container {
    height: 470px;
    width: 40%;
    margin: 30px auto;
    display: inherit;
    background-color: skyblue;
    padding: 40px 0px 0px 125px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
input{
    margin-top: 22px;
    height: 32px;
    width: 233px;
    border-radius: 2px;
    border-style: none;
    border: 1px groove #d3c9c9;
    background-color: rgb(210, 224, 230);
}
input[type ="email"]:invalid{
    color: rgb(245, 112, 112);
}
input[type ="text"]:invalid{
    color: rgb(245, 112, 112);
    animation: shake .4s 2;
}
@keyframes shake{
    25%{
        translate: 6px 0;
    }
    50%{
        translate: -6px 0;
    }
    75%{
        translate: 6px 0;
    }
}
label{
    display: table-row-group;
    color: revert;
    font-size: 20px;
    position: relative;
    top: 18px;
}
.signup {
    margin-top: 30px;
}
button {
    margin: 18px 66px;
    height: 36px;
    width: 85px;
    font-size: 18px;
    color: #ced9eb;
    background-color:#506380 ;
    border-style: none;
    border-radius: 2px;
}
button:hover{
    opacity: 0.9;
}
span {
    font-size: 18px;
    color: unset;
}
a {
    text-decoration: none;
    padding-left: 8px;
}
a.logout {
    width: 86px;
    height: 38px;
    background-color: skyblue;
    text-decoration: none;
    font-size: 20px;
    border-style: none;
    display: grid;
    place-items: center;
    border-radius: 2px;
    float: right;
    margin: 0px 23px;
}
button.editProfile {
    margin: 16px 4px;
    height: 29px;
    width: 68px;
    font-size: 17px;
    color: #ced9eb;
    background-color: #506380;
    border-style: none;
    border-radius: 2px;
}